
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutResume.cshtml";
}

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Truong Kien An</span>
        <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/4x4.png" alt="my photo" /></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">References</a></li>
        </ul>
    </div>
</nav>
<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                TRUONG KIEN
                <span class="text-primary">AN</span>
            </h1>
            <div class="subheading mb-5">
                19 Tran Van Danh Street, Tan Binh, HCMC.
                <p>DOB: 25/10/1988</p>
                <p>Phone: 090.29.27.069</p>
                <p>Email: <a href="mailto:truongkienan2@gmail.com">truongkienan2@gmail.com</a></p>
                <p>Blog : <a href="https://oeno.azurewebsites.net">https://oeno.azurewebsites.net</a></p>
            </div>
            <p class="lead mb-5">I am experienced in program backend .NET Framework, C# language and OOP, ASP.NET MVC, ASP.NET CORE MVC, SQL Server, jQuery, Ajax, HTML/CSS, deploying web app on IIS server, Azure hosting</p>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Experience</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Web Developer</h3>
                    <p>I have been working as a freelancer and worked at Insitu company in .NET developer.</p>
                    <div class="subheading mb-3">Backend</div>
                    <p>I have many key experiences in .NET Framework:</p>
                    <p>
                        <ul class="fa-ul mb-0">
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                CRUD operations, Authentication, Authorize in ASP.NET MVC, ASP.NET CORE MVC, Web API
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Entity Framework, Dapper, LINQ to working with database
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                SQL server, T-SQL, good in writting stored procedure to working with database
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Basic in Signal-R library to develop real time web application
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Optimize code with design patterns
                            </li>
                        </ul>
                    </p>

                    <div class="subheading mb-3">Frontend</div>
                    <p>I can work well with jQuery, Ajax, Bootstrap, HTML/CSS</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">2019 - Present</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">IOT Engineer</h3>
                    <p>Worked at Huu Hong Company in programming IoT device</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Before - 2019</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Education-->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Education</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">University of Science HCMC</h3>
                    <div class="subheading mb-3">Certification Of Program</div>
                    <div>Certification Program in .NET</div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">2021 and 2023</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Industrial University of HCMC</h3>
                    <div class="subheading mb-3">DEGREE Of Engineer</div>
                    <div>Electronics And Communications Technology</div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">2010 - 2013</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Skills-->
    <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-5">Skills</h2>
            <div class="subheading mb-3">Programming Tools</div>
            <p>Visual Studio 2022, SQL Server Management Studio, Azure Data Studio, Postman, Git/Git Hub, SVN</p>
            <div class="subheading mb-3">English</div>
            <p>Good in reading document, medium in speaking</p>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Interests-->
    <section class="resume-section" id="interests">
        <div class="resume-section-content">
            <h2 class="mb-5">Interests</h2>
            <p>Apart from being a web developer, I enjoy most of my time being outdoors. I enjoy exploring natural world, mountain biking, free climbing, and wild animal.</p>
            <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows and I spend a large amount of my free time exploring the latest technology advancements in the back-end web development world.</p>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Awards-->
    <section class="resume-section" id="awards">
        <div class="resume-section-content">
            <h2 class="mb-0">References</h2>
            <p>Will be provided upon request</p>
        </div>
    </section>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>