@{
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}
<img class="mb-4 img-error" src="/assets/img/error-404-monochrome.svg" />
<p class="lead">This requested URL was not found on this server.</p>
<a href="index.html">
    <i class="fas fa-arrow-left me-1"></i>
    Return to Dashboard
</a>