@{
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}
<h1 class="display-1">500</h1>
<p class="lead">Internal Server Error</p>
<a href="index.html">
    <i class="fas fa-arrow-left me-1"></i>
    Return to Dashboard
</a>

