@{
    ViewData["Title"] = "Register";
    Layout = "~/Areas/Dashboard/Views/Shared/_LayoutAuth.cshtml";
}
@model Member
<div class="col-lg-7">
    <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
        <div class="card-body">
            <form method="post" action="/auth/register" >
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-floating mb-3 mb-md-0">
                            <input autocomplete="off" class="form-control" asp-for="Username" type="text"/>
                            <label asp-for="Username">User name</label>
                            <span asp-validation-for="Username"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input autocomplete="off" class="form-control" asp-for="Fullname" type="text" />
                            <label asp-for="Fullname">Full name</label>
                            <span asp-validation-for="Fullname"></span>
                        </div>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input autocomplete="off" class="form-control" asp-for="Email" type="email" />
                    <label asp-for="Email">Email address</label>
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-floating mb-3 mb-md-0">
                            <input autocomplete="off" class="form-control" asp-for="Password" type="password" />
                            <label asp-for="Password">Password</label>
                            <span asp-validation-for="Password"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3 mb-md-0">
                            <input autocomplete="off" class="form-control" asp-for="ConfirmPassword" type="password" />
                            <label asp-for="ConfirmPassword">Confirm Password</label>
                            <span asp-validation-for="ConfirmPassword"></span>
                        </div>
                    </div>
                </div>
                <div class="mt-4 mb-0">
                    <div class="d-grid">
                        <button class="btn btn-primary btn-block">Create Account</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

